/* .order{
    background: url(orderImage/image.png) no-repeat;
background-size: cover;
background-position: center;
margin-top: -40px;
} */
* {
    margin: 0;
    padding: 0;
  }
  ul{
    margin:0;
    padding:0;
    display:flex;
    margin-top: 40px;margin-left: 200px;
    
  }
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
    margin-left: 6%;
  }
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:16px;
    font-family: sans-serif;
    color:#110f0f;
    text-transform:uppercase;
    transition:0.5s;
    margin-top: 8%;
    font-size: 20px;
    font-weight: 900;
  }
  ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#f8a50a;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }
.background-video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 8px;
  
}
.order{
    margin-top: -930px;
}
.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.order {
    position: relative;
    z-index: 2;
}

.order.row{
    display: flex;
 background-color: #fff;
 margin: 2rem 0;
 overflow: hidden;
 box-shadow: 0.5rem 1rem rgba(0,0,0,3);
}

.order form{
    flex: 1 1 60%;
    background: #fff;
    padding: 2rem;
    width: 40%;
    height: 70vh;
    margin-left: 400px;
    border-radius: 40px;margin-top: 20px;
}
.order .row form .box{
padding: 0.8rem;
margin: 0.3rem 0;
font-size: 1.5rem;
color: #333;
text-transform: none;
background: #f0f0f0;
width: 70%;
margin-left: 90px;
}
.order.row form .placeholder{
    text-transform: capitalize;
}
.order .row form .address{
    resize: none;
    height: 10rem;
    margin-bottom: 40px;

} 
.btn{
    border-radius: 20px;
    margin-left: -500px;
    border: none;
    padding: 10px 30px;
    font-size: large;
    background-color:#FFCA42;
}

.heading{
    margin-left: 400px;
    font-size: 50px;
    margin-top: 50px;
}
span{
    color: orange;
}
.box{
    border: none;
    border-radius: 15px;
    font-size: 20px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    margin-top: 0%;
    padding-top: 5%;
    padding-left: 10%;
    background-color: rgb(66, 64, 64);
    color: aliceblue;
   }
   .box h3{
    color: #FFCA42;
   }
   .box a{
    text-decoration: none;
    color: aliceblue;
   }
.food{
    color:#FFCA42;
    text-decoration: none;
}
h3{
    font-size:27px;
}
.credit{
    margin-left: -40px;
    margin-top: 20px;font-size: 40px;
}







































/* .footer{
    background: #dfdcdc;
    padding: 1rem 7%;
    margin-top: -3px;
    height: 45vh;
    text-decoration: none;
    position: relative;
}
.footer .box-container{
display: flex;
flex-wrap: wrap;
}
.footer .box-container .box{
    flex:1 1 25rem;
    margin: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding: 1rem 0;
    font-weight: normal;
}
.footer .box-container .box p{
font-size: 1.7rem;
padding: 1rem;
}
.footer .box-container .box a{
    font-size: 1.7rem;
    padding: 1rem 0;
    display: block;
}
.footer .box-container .box a:hover{
    color: var(--yellow);
}
.footer .box-container .box p i{
    padding-right: .5rem;
    color: var(--yellow);
}
.class1{
    margin-left: 400px;
    margin-top: -240px;
}
.box1{
    margin-left: 700px;
margin-top: -180px;
}
.box2{
    margin-left: 1000px;
margin-top: -225px;
}
.class1 a,
.box1 a,
.box2 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
h3{
    font-size: 30px;
    color: orange;
}
.footer .credit{
    font-size: 1.5rem;
    text-align: center;
    border-top: .2rem solid rgb(255,255,255,.7);
    padding: 2rem 1rem;
    letter-spacing: .1rem;
    font-weight: normal;
    margin-top: 90px; */
/* } */